
// defines the main structure of the buttons
// interface for the buttopn theme
@mixin buttonBase($btn-class-name, $linear-left-clr, $linear-right-clr, $font-color) {

    // defines the look of the button
    .#{$btn-class-name} {
        background: linear-gradient(to right, $linear-left-clr, $linear-right-clr);
        font-family: 'Roboto', sans-serif;
        color: $font-color;
        border-radius: 5px;
        border: none;
        transition: 0.3s;
        padding: 12px 18px 12px 18px;
        font-size: 1.4em;
        box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
        margin: 0;
    }

    // look, if you hover over
    // the button
    .#{$btn-class-name}:hover {
        filter: brightness(1.2);
        transform: scale(1.04);
    }
}



