
// small box shadow
.btn-shadow-sm {
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2) !important;
}

// middle box shadow
.btn-shadow-md {
  box-shadow: 4px 4px 4px rgba(0,0,0,0.4) !important;
}

// large box shadow
// NOTE: It is very large and not very 
// beautiful
.btn-shadow-lg {
  box-shadow: 8px 8px 8px rgba(0,0,0,0.6) !important;
}
