/* Error: Undefined variable.
 *    ,
 * 38 |         background: $bg-color;
 *    |                     ^^^^^^^^^
 *    '
 *   nav\navbar\flyout-navbar.scss 38:21  @import
 *   imports.scss 12:9                    @import
 *   main.scss 1:9                        root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 38 \2502          background: $bg-color;\d\a    \2502                      ^^^^^^^^^\a    \2575 \a   nav\\navbar\\flyout-navbar.scss 38:21  @import\a   imports.scss 12:9                    @import\a   main.scss 1:9                        root stylesheet";
}
