@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
.btn-sm {
  padding: 7px 13px 7px 13px !important;
  font-size: 1.2em !important;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2) !important;
}

.btn-md {
  padding: 12px 18px 12px 18px !important;
  font-size: 1.4em !important;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2) !important;
}

.btn-lg {
  padding: 15px 23px 15px 23px !important;
  font-size: 1.8em !important;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2) !important;
}

.btn-shadow-sm {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2) !important;
}

.btn-shadow-md {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4) !important;
}

.btn-shadow-lg {
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.6) !important;
}

.btn-blue {
  background: linear-gradient(to right, #1d3bae, #264BD9);
  font-family: "Roboto", sans-serif;
  color: #fff;
  border-radius: 5px;
  border: none;
  transition: 0.3s;
  padding: 12px 18px 12px 18px;
  font-size: 1.4em;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  margin: 0;
}

.btn-blue:hover {
  filter: brightness(1.2);
  transform: scale(1.04);
}

.btn-red {
  background: linear-gradient(to right, #b81e1c, #d62220);
  font-family: "Roboto", sans-serif;
  color: #fff;
  border-radius: 5px;
  border: none;
  transition: 0.3s;
  padding: 12px 18px 12px 18px;
  font-size: 1.4em;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  margin: 0;
}

.btn-red:hover {
  filter: brightness(1.2);
  transform: scale(1.04);
}

.btn-green {
  background: linear-gradient(to right, #148531, #18ac3a);
  font-family: "Roboto", sans-serif;
  color: #fff;
  border-radius: 5px;
  border: none;
  transition: 0.3s;
  padding: 12px 18px 12px 18px;
  font-size: 1.4em;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  margin: 0;
}

.btn-green:hover {
  filter: brightness(1.2);
  transform: scale(1.04);
}

.btn-purple {
  background: linear-gradient(to right, #831ab7, #8c18c4);
  font-family: "Roboto", sans-serif;
  color: #fff;
  border-radius: 5px;
  border: none;
  transition: 0.3s;
  padding: 12px 18px 12px 18px;
  font-size: 1.4em;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  margin: 0;
}

.btn-purple:hover {
  filter: brightness(1.2);
  transform: scale(1.04);
}

.btn-pink {
  background: linear-gradient(to right, #B519BD, #D21BDC);
  font-family: "Roboto", sans-serif;
  color: #fff;
  border-radius: 5px;
  border: none;
  transition: 0.3s;
  padding: 12px 18px 12px 18px;
  font-size: 1.4em;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  margin: 0;
}

.btn-pink:hover {
  filter: brightness(1.2);
  transform: scale(1.04);
}

.navbar-grey {
  background: #3d3d3d;
  border: 1px solid #161616;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
}

.navbar-grey .navbar-toggler {
  display: none;
  background: #3d3d3d;
  filter: brightness(1.2);
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 7px;
  box-shadow: 2px 2px 2px rgba(43, 42, 42, 0.2);
}

.navbar-grey li {
  margin: 0;
  height: fit-content;
  width: fit-content;
  color: #fff;
  background: #3d3d3d;
  filter: brightness(1.2);
  list-style: none;
  padding: 10px 10px 10px 10px;
  margin: auto 5px auto 5px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(43, 42, 42, 0.2);
  transition: 0.3s;
}

.navbar-grey li:hover {
  filter: brightness(1.4);
  transform: scale(1.04);
  box-shadow: 4px 4px 4px rgba(43, 42, 42, 0.2);
}

.navbar-grey li a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
}

.flyout-navbar {
  position: relative;
  margin-top: 10px;
  float: right;
  height: 70px;
  width: 40vw;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.flyout-navbar ul {
  flex-direction: row;
  display: flex;
}

.navbar-full {
  width: 99vw !important;
  float: center !important;
}

.navbar-half {
  width: 50vw !important;
}

.navbar-60 {
  width: 60vw !important;
}

.navbar-small {
  width: 30vw !important;
}

.navbar-shown {
  display: flex !important;
}

@media only screen and (max-width: 680px) {
  .flyout-navbar {
    width: 99vw !important;
    float: center !important;
    justify-content: flex-start !important;
    overflow: visible;
  }

  .flyout-navbar ul {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    background: #3d3d3d;
    padding: 10px 10% 10px 10%;
    border-radius: 7px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
  }

  .flyout-navbar ul li {
    margin-bottom: 10px;
  }

  .navbar-toggler {
    display: block !important;
    margin-left: 10px;
  }
}
.navbar-dark {
  background: #141414;
  border: 1px solid #121212;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
}

.navbar-dark .navbar-toggler {
  display: none;
  background: #141414;
  filter: brightness(1.2);
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 7px;
  box-shadow: 2px 2px 2px rgba(10, 10, 10, 0.2);
}

.navbar-dark li {
  margin: 0;
  height: fit-content;
  width: fit-content;
  color: #fff;
  background: #141414;
  filter: brightness(1.2);
  list-style: none;
  padding: 10px 10px 10px 10px;
  margin: auto 5px auto 5px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(10, 10, 10, 0.2);
  transition: 0.3s;
}

.navbar-dark li:hover {
  filter: brightness(1.4);
  transform: scale(1.04);
  box-shadow: 4px 4px 4px rgba(10, 10, 10, 0.2);
}

.navbar-dark li a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
}

.flyout-navbar {
  position: relative;
  margin-top: 10px;
  float: right;
  height: 70px;
  width: 40vw;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.flyout-navbar ul {
  flex-direction: row;
  display: flex;
}

.navbar-full {
  width: 99vw !important;
  float: center !important;
}

.navbar-half {
  width: 50vw !important;
}

.navbar-60 {
  width: 60vw !important;
}

.navbar-small {
  width: 30vw !important;
}

.navbar-shown {
  display: flex !important;
}

@media only screen and (max-width: 680px) {
  .flyout-navbar {
    width: 99vw !important;
    float: center !important;
    justify-content: flex-start !important;
    overflow: visible;
  }

  .flyout-navbar ul {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    background: #141414;
    padding: 10px 10% 10px 10%;
    border-radius: 7px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
  }

  .flyout-navbar ul li {
    margin-bottom: 10px;
  }

  .navbar-toggler {
    display: block !important;
    margin-left: 10px;
  }
}
.navbar-light {
  background: #B3B3B3;
  border: 1px solid #A9A9A9;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
}

.navbar-light .navbar-toggler {
  display: none;
  background: #B3B3B3;
  filter: brightness(1.2);
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 7px;
  box-shadow: 2px 2px 2px rgba(77, 77, 77, 0.2);
}

.navbar-light li {
  margin: 0;
  height: fit-content;
  width: fit-content;
  color: #3d3d3d;
  background: #B3B3B3;
  filter: brightness(1.2);
  list-style: none;
  padding: 10px 10px 10px 10px;
  margin: auto 5px auto 5px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(77, 77, 77, 0.2);
  transition: 0.3s;
}

.navbar-light li:hover {
  filter: brightness(1.4);
  transform: scale(1.04);
  box-shadow: 4px 4px 4px rgba(77, 77, 77, 0.2);
}

.navbar-light li a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
}

.flyout-navbar {
  position: relative;
  margin-top: 10px;
  float: right;
  height: 70px;
  width: 40vw;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.flyout-navbar ul {
  flex-direction: row;
  display: flex;
}

.navbar-full {
  width: 99vw !important;
  float: center !important;
}

.navbar-half {
  width: 50vw !important;
}

.navbar-60 {
  width: 60vw !important;
}

.navbar-small {
  width: 30vw !important;
}

.navbar-shown {
  display: flex !important;
}

@media only screen and (max-width: 680px) {
  .flyout-navbar {
    width: 99vw !important;
    float: center !important;
    justify-content: flex-start !important;
    overflow: visible;
  }

  .flyout-navbar ul {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    background: #B3B3B3;
    padding: 10px 10% 10px 10%;
    border-radius: 7px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
  }

  .flyout-navbar ul li {
    margin-bottom: 10px;
  }

  .navbar-toggler {
    display: block !important;
    margin-left: 10px;
  }
}

/*# sourceMappingURL=main.css.map */
