@import "sizes.scss";
@import "../screen-sizes.scss";


// media query for small sized screens < 680px
@media only screen and (max-width: $sm) {

    .card-sm {
        transform: scale(0.75);
    }
    .card-md {
        transform: scale(0.75);
    }
    .card-lg {
        transform: scale(0.73);
    }
}

// media query for small sized screens < 1100px
@media only screen and (max-width: $md) {

    .card-sm {
        transform: scale(0.90);
    }
    .card-md {
        transform: scale(0.90);
    }
    .card-lg {
        transform: scale(0.90);
    }
}