.dropdown {
    width: fit-content;
    height: fit-content;
    border-radius: 12px;
    padding: 10px 10px 10px 10px;
    display: none;
    position: absolute;
    top: -100%;
    overflow: hidden;
}
