@import "./constants.scss";

// defines the basic shape and structure of 
// the general sidebar
.sidebar {
    height: 95vh;
    width: $sidebar-min-width;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
}


// sets the margin of the sidebar toggler
.sidebar-item.sidebar-toggler {
    margin-top: 8px;
}

// sets the width of a sidebar item
.sidebar-extended .sidebar-item {
    width: $sidebar-full-width - 1vw;
}

// sets the hidden content to 
// hidden by default
.hidden-content {
    display: none;
}

// modifies the hidden content of the sidebar
// is extpanded
.sidebar-extended .hidden-content {
    display: block;
    font-size: large;
}

// defines the basic shape and structure 
// of an sidebar item
.sidebar-item {
    width: 50px;
    height: 50px;
    border: none;
    margin-top: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    outline: none;
    transition: .3s;
}

// defines the look of an sidebar item
// if you hover over it
.sidebar-item:hover {
    filter: brightness(1.6);
    transform: scale(1.05);
}