
// row theme constructor
@mixin rowShape($class-name, $size) {
    
    // sets the structure of the row
    .#{$class-name} {
        width: $size;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}