@import "../../screen-sizes.scss";

// defines the basic look of the
// flyout navbar
.flyout-navbar {
    position: relative;
    margin-top: 10px;
    float: right;
    height: 70px;
    width: 40vw;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

// defines the look of the list view
// of the flyout navbar
.flyout-navbar ul {
    flex-direction: row;
    display: flex;
}

// media query for small screens
@media only screen and (max-width: $sm) {

    // defines the shape of the flyout navbar on
    // small screens
    .flyout-navbar {
        width: 99vw !important;
        float: unset !important;
        justify-content: flex-start !important;
        overflow: visible;
    }

    // defines the shape of the flyout navbar
    // list view on small screens
    .flyout-navbar ul {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
        background: white;
        padding: 10px 10% 10px 10%;
        border-radius: 7px;
        box-shadow: 4px 4px 4px rgba(0,0,0,0.4);
    }

    // defines the look of an list element 
    // on small screens
    .flyout-navbar ul li {
        margin-bottom: 10px;
    }

}
