.navbar-full {
    width: 99vw;
    float: center;
}

.navbar-half {
    width: 50vw;
}
.navbar-60 {
    width: 60vw;
}

.navbar-small {
    width: 30vw;
}

.navbar-shown {
    display: flex !important;
}