.navbar-full {
    width: 99vw !important;
    float: center !important;
}

.navbar-half {
    width: 50vw !important;
}

.navbar-60 {
    width: 60vw !important;
}

.navbar-small {
    width: 30vw !important;
}

.navbar-shown {
    display: flex !important;
}