.flyout-navbar, .navbar-full {
    width: 99vw;
    float: center;
}

.flyout-navbar, .navbar-half {
    width: 50vw;
}

.flyout-navbar, .navbar-60 {
    width: 60vw;
}

.flyout-navbar, .navbar-small {
    width: 30vw;
}

.navbar-shown {
    display: flex !important;
}